//COLORS material palelete
$primary-color-dark: #D32F2F;
$primary-color: #F44336;
$primary-color-light: #FFCDD2;
$primary-color-text: #FFFFFF;
$accent-color: #607D8B;
$primary-text-color: #212121;
$secondary-text-color: #757575;
$divider-color: #BDBDBD;

// Basic colors
$color-white: #FFFFFF;
$color-black: #000;
$color-grey-dark: #777;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;


//Additional Colors
$color-primary-light: #D32F2F;
$color-primary-secondary-light: #F44336;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;



//FONTS
$default-font-size: 1.6rem;

//GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;