.btn {
    &:link,
    &:visited {
        text-transform: uppercase;
        text-decoration: none;
        padding: 1.5rem 4rem;
        display: inline-block;
        border-radius: 10rem;
        transition: all .2s;
        /* define the time for transformation when hover and action */
        position: relative;
        font-size: 1.6rem;
    }

    &:hover {
        transform: translateY(-3px);
        box-shadow: 0 .5rem 1rem rgba($color-black, 0.50);
        /* shadown in the X, then Y and Blur*/

        &:after {
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
        }

    }

    &:active {
        transform: translateY(-1px);
        box-shadow: 0 .5rem 1rem rgba($color-black, 0.20);
        /* shadown in the X, then Y and Blur*/
    }

    &--white {
        background-color: $color-white;
        color: $secondary-text-color;

        &:after {
            background-color: $color-white;
        }
    }

    &:after {
        content: '';
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 10rem;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all .4s
    }

    &--animated {
        animation: moveInBottom .5s ease-out .75s;
        animation-fill-mode: backwards;
        /* apply stile of 0% before it starts */
    }
}